<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link"  routerLink="/dashboard">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
        <a class="nav-link"  routerLink="/add-employee">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Add Employee</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" routerLink="/list-employee">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Employee List</span>
        </a>
    </li>
    
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link" routerLink="/edit-employee">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Edit Employee</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
        <a class="nav-link" routerLink="/details-employee">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Employee Details</span>
        </a>
        
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link"  routerLink="/Menu">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Menu Levels</span>
        </a>
        
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link"routerLink="/Menu">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
        </a>
    </li>
</ul>
<ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
        </a>
    </li>
</ul>